body {
    background-color: green;
    font-size: xx-large;
}
form {
    color: blue;
}
h3 {
    margin: 0px;
    padding-top: 0px;
}

#submit {
    background-color: red;
    font-size: xx-large;
}


